*
{
    margin: 0;
    padding: 0 2px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body
{
    height:100%;
    width:100% ;
    background-color: rgb(3, 3, 39);
    color: #fff;
    
}
header nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    background-color: rgb(3, 3, 50);
    padding-left: 3rem;
    margin-left: 15px;
}
nav .left
{
    font-size: 4vmin;
    
}
nav ul
{
    display: flex;
    justify-content: center;
    /* gap: 2rem; */
}
nav ul li 
{
    list-style: none;
    margin: 0 20px;
    font-size: 3vmin;
}
nav ul li a
{
    color: #fff;
    text-decoration: none;
}
nav ul li  :hover
{
    font-size: 3.2vmin;
    font-weight: bold;
    color: #6f96e2;
}
#section1
{
    display: flex;
    justify-content: space-around;
    margin: 38px 0; 
    /* align-items: center; */
    flex-wrap: wrap;

}
.leftsection
{
    /* background-color: aqua; */
    width: 35%;
    font-size: 3vmax;
    margin: 25px 0;

}
.purple
{
    color: rgb(150, 59, 150);
}
#element
{
    color: rgb(150, 59, 150);
}
.rightsection
{
    /* background-color: rgb(192, 13, 34);  */
    width: 50vmin;
    height: 60vmin;
    margin-right: 2px;
}
.rightsection img
{
    height: 60vmin;
    width: 50vmin;
    opacity: 0.7;
    border-radius: 10%; 
    padding: 4px 0;
    object-fit: cover;
    overflow: hidden;
    transition: all ease 1s;
}
.rightsection:hover img
{
    opacity:5;
    scale: 1.2;
}
/*------------------------------ about section---------------- */
#about
{
    padding: 80px 0px;
}
.row
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1
{

    flex-basis: 40%;
    /* background-color: aqua; */
}
.about-col-1 img
{
    height: ;
    width: 100%;
    border-radius: 15%;
    opacity: 0.8;
    object-fit: cover;
    overflow: hidden;
    transition: all ease 1s;
    padding: 0 2rem;
    padding-bottom: 1rem;
    margin: 2px 2px;
    
}
.about-col-1 :hover 
{
    opacity:5;
    scale: 1.2;
}
.about-col-2
{
    flex-basis: 60%;
    /* background-color: rgb(0, 255, 106); */
}
.about-col-2 h1
{
    font-size: 7vmin;
    font-size: 600;
}
#tab-titles
{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links
{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    
    position: relative;
}
.tab-links::after
{
    content: '';
    width: 0;
    height: 3px;
    background: #FF004F;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-links::after
{
  width: 50%;
}

.tab-contents
{
    display: none;
    font-size: 2.5vmin;
}
.tab-contents ul li
{
    /* list-style: none; */
    margin: 5px 0;
    
}
.tab-contents.active-tab
{
  display:block;
}
.tab-contents ul li span
{
    color: #FF004F;
    font-size: 2.6vmin;
    
}
/* --------------------------services------------------------------------------------- */
#services
{
    padding: 25px px;
}
.services-list
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));
    grid-gap: 35px;
    margin-top: 35px;
    flex-wrap: wrap;
}
.services-list div
{
    background: #262626;
    padding: 18px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i
{
    font-size: 50px;
    margin-bottom:30px;
}
.services-list div h2
{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a
{
    color: rgb(35, 78, 230);
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover
{
    background: #FF004F;
    transform:translate(-10px) ;
}
/* ----------------------Portfolio------------------------------------------- */
#portfolio
{
  padding: 50px 0;
}
.work-list
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work
{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;

}
.work img
{
    object-fit: cover;
    width: 90%;
    /* height: 100%; */
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer
{
    position: absolute;
    background:linear-gradient(rgba(0,0,0,0.5), #ff004f);
    width:100%;
    height: 0;
    border-radius: 10px;
    transition:height 0.5s;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    font-size: 14px;
}
.work h3 
{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a
{
    color:#3965f7 !important ;
    margin-top: 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img
{
  transform: scale(1.1);
}
.work:hover .layer 
{
  height: 100%;
}
.btn 
{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover
{
    background: #ff004f;

}
/* -------------------------------Contact-----------------------------*/
.contact.container.row
{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}
.contact-left
{
    flex-basis: 35%;
}
.contact-left p
{
    margin-top: 25px;
}
.contact-right form
{
    flex-basis: 60%;
    border-radius: 20px;
    width: 100%; 
}
/* .social-icons a
{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    /* margin-bottom: 5px; */
} */
/* .social-icons a:hover
{
    color: #ff004f;
    transform: translatey(-5px);
} */
/* .btn.btn2
{
 display: inline-block;
 background: #ff004f;
} */


/* .contact-right form
{
     width: 100%; 
}
form input, form textarea
{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color:#fff ;
    font-size: 18px;
    border-radius: 6px;
} */
form .btn2
{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
.copyright
{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: #262626;
    font-weight: 200;
    margin-top: 20px;
}
.copyright i
{
    color: #FF004F;
}










/* @media (max-width:600px)
{
    nav .left
{
    font-size: 3.6vmin;
}
nav .right ul
{
    margin-right: 4px
    padding-right:;
}
nav ul li
{
    margin: 0 20px;

}
.about-col-1
{

    /* flex-basis: 35%; */
     background-color: aqua; 
     height: 100vh;
     width: 100vh;
     flex-wrap: wrap;
}
.about-col-1 img
{
    height:100%;
    width: 100%;
    border-radius: 10%;
    
}
.about-col-2 p
{
    /* flex-basis: 65%; */
    margin: 2px 8px;
}

    
} */
